* {
    font-family: 'Spartan', sans-serif;
}

nav {
    background-color: pink;
    color: white;
    margin: 1%;
    height: 100px;
    width: auto;
}

h1 {
    text-align: center;
    padding-top: 2%;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    float: left;
    width: auto;
    margin: 4%;
}

.displayContainer{
    display: flex;
    flex-direction: column;
    float: right;
    width: auto;
    margin: 4%;
}

.dayContainer {
    display: flex;
    flex-direction: row;
}